= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  .input-group
    %span.input-group-addon
      = image_tag("icons/icon-user.png", width: "12")
    = f.input :name, :required => true, :autofocus => true, :placeholder => "Name", label: false, input_html: {class: 'form-control'}
  .input-group
    %span.input-group-addon
      = image_tag("icons/icon-email.png", width: "15")
    = f.input :email, :required => true, :autofocus => true, :placeholder => "Email", label: false, input_html: {class: 'form-control'}
  %ul.dsp-table
    %li.dsp-cell
      = f.input_field :url, :required => true, :placeholder => "Username"
    %li.dsp-cell optimizeplayer.com
  .input-group
    %span.input-group-addon
      = image_tag("icons/icon-password.png", width: "12")
    = f.input :password, :required => false, :placeholder => "Password", label: false, input_html: {class: 'form-control'}
  .input-group
    %span.input-group-addon
      = image_tag("icons/icon-password.png", width: "12")
    = f.input :password_confirmation, :required => false, :placeholder => "Password", label: false, input_html: {class: 'form-control'}
  = hidden_field_tag :plan_remote_id, plan_remote_id
  = f.button :submit, "Sign Up Now", class: 'btn btn-primary'